<div class="message mb-2 <%= 'me' if message.id == message.room.id %>">
    <div class="content-container">
        <div class="content">
            <%= message.content %>
        </div>
        <div class="author">
            <%= "vff" if @user.present? %>ggg
            <%= @udi %>
            <%#= current_user %>
            <%#= message.user.username %>
        </div>
    </div>
</div>