 <div id="user-id" data-user-id="<%= message.user_id %>"></div>
<div class="message mb-2 ">
    <div class="content-container">
        <div class="content">
        <%# if message.destroyed? %>
            <%# <p class="text-muted">This message was deleted</p> %>
            <%# else %>
        <%# end %>
            <%= message.content %>
        </div>
        <div class="author">
        <%= @ud %>
        <%#= message.user.username %>
        </div>
    </div>
</div>