<link rel="stylesheet" href="../../assets/stylesheets/style.css">

<input type="checkbox" id="menu">
<nav>
    <ul>
        <li><a href="#">Boom</a></li>
    </ul>
    <label for="menu" class="menu-bar">
        <i class="fa fa-bars"></i>
    </label>
</nav>

<div class="side-menu">
    <center>
        <img src="../../assets/images/adult-doctor-girl-355934.jpg" alt="img">
        <h2>A girl</h2>
    </center>
    <br>

    <a href="#"><i class="fa fa-user"></i><span>CKo</span></a>
    <a href="#"><i class="fa fa-envelope"></i><span>CKogj</span></a>
    <a href="#"><i class="fa fa-user"></i><span>CKoff</span></a>
    <a href="#"><i class="fa fa-user"></i><span>CKokk</span></a>
    <a href="#"><i class="fa fa-user"></i><span>CKomfjjj</span></a>

    <a href="#" class="logout"><span>logout</span></a>
</div>

<div class="data">
    
</div>