/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary: #007bff;
link {
    color: $primary;;
}

@media (max-width: 640px) {
    .c {
        display: none;
    }
    .ng {
        margin-right: -48px !important;
        margin-left: 16px !important;
    }
    
    .chat-room {
        height: 100% !important;
        .message {
            min-height: 59px !important;
        }
    }
}

body {
    height: 100%;
    overflow-y: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
}

.chat-room {
    height: 92vh;
    padding-bottom: 40px;
    #messages {
        margin-top: 12px;
        height: 100%;
        overflow-y: scroll;  
        padding-bottom: 40px;  
    }

    .navbar {
        border-bottom: 1px solid #eee;
        margin-left: -15px;
        width: calc(100% + 30px);
    }
    .message {
        min-height: 59px;
        .content-container {
            display: inline-block;
            .content {
                background-color: #eeeeee;
                padding: 8px 16px;
                border-radius: 20px;
                .hidden {
                    display: none;
                }
            }
            .author {
                font-size: 0.8rem;
                color: #777;
                margin-left: 10px;
            }
        }
        &.me {
            .content-container {
                float: right;
                .content {
                    background-color: $primary;
                    color: white;
                }
                .content:hover {
                    color: #777;
                    border-radius: 28px;
                }
            }
        }
    }
    .chat-box {
        position: absolute;
        bottom: 0;
        padding: 20px;
        width: 100%;
        margin-left: -15px;
        background-color: #fff;
        border-top: 1px solid #eeeeee;
        input[type=text] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
        }
        .btn {
            height: 45px;
        }
    }
}
 
.yu:hover {
    box-sizing: 23px;
    background-color: $primary;
    color: white;
    box-shadow: $primary;
}

.bn {
    display: block;
    background: rgb(145, 245, 145);
    padding-top: 24px;
    padding-bottom: 24px;
    width: 36em;
}

.card.no-outline {
    border: none;
}

.room-link  {
    text-decoration: none ;
    &:hover {
        text-decoration: none ;
    }
    .room-card {
        transition: background-color 0.5s ease;
        &:hover {
            background-color: #eee;
            border-radius: 20px;
        }
        &.active {
            background-color: black;
            border-radius: 20px;
            .name {
                color: white;
            }
            .member-count {
                color: #c0c0c0;
            }
        }
        .name {
            font-weight: bold;
            color: black;
        }
        .member-count {
            color: #777777;
            font-weight: lighter;
        }
    }
}

.room-side {
    border-right: 1px solid #eeeeee;
    .rooms {
        height: 50vh;
        overflow-y: scroll;
    }
}

.ng {
    margin-right: 48px;
    margin-left: 48px;
}

.activity-status {
    float: left;
    margin-right: 4px;
    color: #c0c0c0;
    &.online {
        color: #64cc17;
    }
}
